<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>NO DISEASE</title>
</head>
<body>
    <h1 style="text-align: center; font-size: 3 rem; font-weight: bolder">NO DISEASE</h1>
    <img src="https://www.sakraworldhospital.com/spl_splimgs/Healthy%20Heart-01.png" alt="Healthy Heart" style="display: block; margin: auto;">
    
    
   
</body>
</html>